<footer class="footer">
  <div class="wrap">
    <div class="footer-grid">
      <div class="footer-brand">
        <img src="../design-system/assets/logo-digital-avenue-white.svg" alt="Digital Avenue">
        <p>Ihre externe Digitalabteilung aus Hamburg und Rostock. Website, Telefonie, Termine und E-Mail aus einer Hand, persönlich betreut.</p>
      </div>
      <div class="footer-col">
        <h4>Leistungen</h4>
        <ul>
          <li><a href="index.html#leistungen">Sichtbarkeit &amp; Marke</a></li>
          <li><a href="index.html#leistungen">Infrastruktur &amp; Prozesse</a></li>
          <li><a href="index.html#leistungen">Digital-Concierge</a></li>
          <li><a href="#digital-check" data-open-check>Digital-Check</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Für wen</h4>
        <ul>
          <li><a href="praxen.html">Arztpraxen</a></li>
          <li><a href="kanzleien.html">Kanzleien</a></li>
          <li><a href="mittelstand.html">Mittelstand</a></li>
          <li><a href="index.html#ueber-uns">Über uns</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Kontakt</h4>
        <ul class="footer-contact">
          <li><svg class="icon"><use href="#i-phone"/></svg><a href="tel:+494041343870">+49 (40) 41343870</a></li>
          <li><svg class="icon"><use href="#i-mail"/></svg><a href="mailto:post@digital-avenue.de">post@digital-avenue.de</a></li>
          <li><svg class="icon"><use href="#i-pin"/></svg><span>Digital Avenue UG (haftungsbeschränkt)<br>[ADRESSE], Hamburg · Rostock</span></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2026 Digital Avenue UG (haftungsbeschränkt)</span>
      <ul>
        <li><a href="#">Impressum</a></li>
        <li><a href="#">Datenschutz</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="proto-note" aria-hidden="true">Prototyp · Entwurf</div>
